.item {
    background: rgb(219, 202, 181);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 12px 0;
    cursor: pointer;
}

.item:hover {
    background: rgb(125, 98, 65)
}


.done {
    text-decoration: line-through;
  }