.item-input {
    display: flex;
    align-items: center;
    width: 70%;
}

.container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

input {
    flex-grow: 1;
    margin-right: 12px;
    font-size: 1.5rem;
}