/* You can add global styles to this file, and also import other style files */


button{
    padding: 8px;
    border: 2px solid black;
    background: rgb(212, 159, 212);
    border-radius: 8px;
}

button:hover {
    background: rgb(161, 193, 228);
    overscroll-behavior-block: crimson;
}
